/www/projet_election/.phpunit.cache
/www/projet_election/node_modules
/www/projet_election/public/build
/www/projet_election/public/hot
/www/projet_election/public/storage
/www/projet_election/storage/*.key
/www/projet_election/storage/pail
/www/projet_election/vendor
/www/projet_election/.env
/www/projet_election/.env.backup
/www/projet_election/.env.production
/www/projet_election/.phpactor.json
/www/projet_election/.phpunit.result.cache
/www/projet_election/Homestead.json
/www/projet_election/Homestead.yaml
/www/projet_election/npm-debug.log
/www/projet_election/yarn-error.log
/www/projet_election/auth.json
/www/projet_election/.fleet
/www/projet_election/.idea
/www/projet_election/.nova
/www/projet_election/.vscode
/www/projet_election/.zed