body{
    margin: 0;
    padding: 0;
}


.header_welcome{
    padding:1%;
    position: fixed;
    background-color: white;
    width:100%;
    height:50px;
}
.space_welcome{
    background-color: white;
    height:5%;
}
@media screen and (min-width: 80rem) {

}

.header_home{
    left: 0;
    bottom: 0;
    padding:2%;
    position: fixed;
    width:100%;
    height:5%;
    border-top: solid;
    .img_computer{
        display:none;
    }
    .img_phone{
        display:block;
        height:30px;
    }
    .icons{
        display:flex;
        flex-direction: row;
        width:100%;
        justify-content: space-between;
        .account{
            padding-right: 2.5%;
            float:none;
            justify-content: space-evenly;
            display:flex;
            width:100%;
            flex-direction: row;
        }
    }
}
.space_home{
    display:none;
}

@media (min-width: 950px) {
    .header_home{
        border-bottom: solid;
        padding:1%;
        bottom:auto;
        height:8%;
        .img_computer{
            display:block;
            height:70px;
            img{
                height:45px;
                margin-left: 15px;
            }
            p{
                font-size:16px;
            }

        }
        .img_phone{
            display:none;

        }
        .icons{
            display:flex;
            flex-direction: row;
            width:100%;
            .account{

                display:flex;
                justify-content: space-between;
                width:35%;
                float:right;
            }
        }
    }
    .space_home{
        display:block;
        background-color: white;
        height:100px;
    }
}

