body{
    margin: 0;
    padding: 0;
}


.header_welcome{
    padding:1%;
    position: fixed;
    background-color: white;
    width:100%;
    height:8%;
}
.space_welcome{
    background-color: white;
    height:100px;
}
@media screen and (min-width: 950px) {

}

.header_home{
    left: 0;
    bottom: 0;
    padding:2%;
    background-color: white;
    position: fixed;
    width:100%;
    height:5%;
    border-top: solid;
    .img_computer{
        display:none;
    }
    .img_phone{
        display:block;
        height:30px;
    }
    .icons{
        display:flex;
        flex-direction: row;
        width:100%;
        justify-content: space-between;
        .menu{
            padding-right: 2.5%;
            float:none;
            justify-content: space-evenly;
            display:flex;
            width:100%;
            flex-direction: row;
        }
    }
}
.space_home{
    display:none;
}

@media (min-width: 950px) {
    .header_home{
        border-bottom: solid;
        padding:1%;
        bottom:auto;
        background-color:white;
        height:100px;
        .img_computer{
            display:flex;
            height:70px;
            width:auto;
            flex-direction: column;
            img{
                object-fit: contain;
                height:45px;
                width:auto;
            }
            p{
                font-size:16px;
            }

        }
        .img_phone{
            display:none;

        }
        .icons{
            display:flex;
            flex-direction: row;
            width:100%;
            .menu{
                display:flex;
                justify-content: space-between;
                width:45%;
                float:right;
            }
        }
    }
    .space_home{
        display:block;
        background-color: white;
        height:100px;
    }
}

.presentation_welcome{

}

@media screen and (min-width: 950px) {

}


.presentation_home{
    display: inline-block;
    background-image: linear-gradient(to bottom, #8f0868 , #650da3);
    padding:5%;
    justify-content: center;
    .right{
        justify-content: center;
        border-radius: 20%;
        display: flex;
        float:none;
        width:90%;
    }
    .left{
        display: flex;
        float:none;
        width:90%;
        h1{
            text-align: center;
            font-size: 2rem;
            color:white;
            font-weight: bold;
        }
        p, li{
            font-size: 1rem;
            color:white;
        }
    }
}

@media screen and (min-width: 950px) {

    .presentation_home{
        justify-content: normal;
        .right{
            justify-content: normal;
            display: flex;
            float:right;
            width:40%;
            border-radius: 100px;
        }
        .left{
            display: flex;
            float:left;
            width:40%;
            h1{
                font-size: 2.25rem;
                color:white;
            }
            p, li{
                font-size: 1.25rem;
                color:white;
            }
        }
    }
}
.account{
    background-image: linear-gradient(to bottom, #8f0868 , #650da3);
    height:100vh;
    flex-direction: column;
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        width:10rem;
        height:10rem;
        border-radius: 100%;
    }
    h1, p{
        width:100%;
        text-align:center;
        color:white;
    }
    h1{
        font-weight: bold;
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem;
    }
    .account_right{
        background-color: rgb(0, 0, 0, 0);
        display: flex;
        float:none;
        width:100%;
        flex-direction: column;
        .change_color{
            overflow-x: scroll;
            overflow-y: hidden;
            padding: 2%;
            height: 4rem;
            margin-bottom: 2%;
            white-space: nowrap;
            scroll-snap-type: x mandatory;
            .color{
                border-radius: 50%;
                width: 2.5rem;
                height: 2.5rem;
                background-image: linear-gradient(to bottom, #1a202c , #718096);
            }
        }
    }
    .account_left{
        display: flex;
        float:none;
        width:100%;
        flex-direction: column;
        padding-bottom: 5%;
        margin-bottom:5%;
        border-bottom: solid;
        border-color: white;
    }
}

.container_button{
    width: 100%;
    .button_1, .button_2{
        display: block;
        width:90%;
        margin: 0 auto;
        margin-top: 2%;
        padding:10px;
        border-radius: 20px;
        text-decoration: none;
        text-align: center;
    }
    .button_1{
        border: 2px solid #d246a9;
        background-color: white;
        color:#d246a9;
    }
    .button_2{
        background-color: #d246a9 ;
        padding:10px;
        border-radius: 20px;
        color:white;
    }
}

@media screen and (min-width: 500px) {
    .account{
        height:calc(100vh - 40px);
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {
            width: 12.5rem;
            height: 12.5rem;
            border-radius: 100%;
        }
        h1{
            font-size: 2rem;
        }
        p{
            font-size: 1.5rem;
        }
        .account_right{
            display : flex;
            background-color: white;
            height:100%;
            float:right;
            width:60%;
            h1, p {
                color:black;
            }
            .change_color {
                padding: 2.5%;
                height: 5.5rem;
                margin-bottom: 2.5%;
                .color {
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
        .account_left{
            margin-bottom:0;
            border-bottom: none;
            padding : 1%;
            display: flex;
            float:none;
            width:40%;
            h1, p {
                color:white;
            }
        }
    }
    .container_button {
        display:flex ;
        justify-content: space-evenly;
        .button_1, .button_2 {
            width: 40%;
        }
    }
}

.custom-modal{
    display: none;
    background: #ffffff;
    border-radius: 0.5em;
    box-shadow: 0 10px 20px rgba(0,0,0,1);
    left: 50%;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    max-height: 75%;
    flex-direction: column;
    border: #650da3 5px solid;
    h5, p{
        font-weight: 600;
        text-align: center;
        line-height: normal;
    }
    h5{
        font-size: 1.5rem;
    }
    p{
        font-size: 1rem;
    }
    .modal-content {
        padding: 1%;
        pointer-events: all;
        overflow: auto;
    }

    .modal-header {
        color: #111827;
        padding: 1.5em 2em;
        pointer-events: all;
        position: relative;
        width: calc(100% - 4.5em);
    }

    .modal-title {
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.25rem;
        font-weight: 600;
        color: #8f0868;
    }

    .modal-body {
        border-top: 1px solid #e0e0e0;
        padding-inline-start: 1.25rem;
        padding-inline-end: 1.25rem;
        padding-block-start: 0.625rem;
        padding-block-end: 0.625rem;
        outline: none;

    }
}

@media screen and (min-width: 900px) {
    .custom-modal{
        width: 50%;
        .modal-title {
            font-size: 2.25rem;
            line-height: 2rem;
            font-weight: 600;
        }
    }
}

.classroom-admin{
    background-color: #ffffff;
    height:100vh;
    flex-direction: column;
    img{
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        width:10rem;
        height:10rem;
        border-radius: 100%;
    }
    h2, h3{
        width:100%;
        font-weight: bold;
    }
    h2{
        color:black;
        text-align:center;
        font-size: 1.5rem;
    }
    h3{
        color:#650da3;
        text-align:left;
        font-size: 1rem;
    }
    .right {
        display: flex;
        float: none;
        width: 100%;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: scroll;
        .representative {
            border-radius: 0.5em;
            box-shadow: 0 10px 20px rgba(0,0,0,1);
            margin-top: 2.5%;
            margin-bottom: 15%;
            margin-left: 0;
            margin-right: 0;
            .candidate {
                margin: auto;
                width: 100%;
                padding-bottom: 2%;
                display: flex;
                flex-direction: column;
                .information {
                    margin: auto;
                    width: 50%;
                    padding: 1%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    p {
                        text-align: left;
                        color: black;
                    }

                    .suppleant {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;

                        img {
                            margin-left: 0;
                            margin-right: 0;
                            justify-content: center;
                            width: 2.5rem;
                            height: 2.5rem;
                        }

                        .name {
                            p {
                                color : #8f0868;
                                font-weight: bold;
                            }
                            width: auto;
                            padding-left: 1.5%;
                            justify-content: center;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .table{
            border-radius: 0.5em;
            box-shadow: 0 10px 20px rgba(0,0,0,1);
            margin-top: 2.5%;
            margin-bottom: 15%;
            margin-left: 0;
            margin-right: 0;
            border-collapse: collapse;
            width : 100%;
            display: flex;
            flex-direction:column;
            padding:1%;
            .day_computer{
                display: none;
            }
            .day_phone{
                font-weight: bold;
                color:#8f0868;
                display: flex;
            }
            .row{
                width : 100%;
                display: flex;
                flex-direction:row;
            }
            .title{
                width: 100%;
                text-align: center;
                font-weight: bold;
                height: 5rem;
                font-size: 1.5rem;
                color: #650da3;
                cursor: pointer;
            }
            .other_month, .actual_month, .day_phone, .actual_date{
                width : calc(100%/7);
                height: 2.5rem;
                text-align: center;
            }
            .other_month{
               color: lightgrey;
            }
            .actual_month{
                cursor: pointer;
            }
            .actual_month:hover{
                background-color: #650da350;
                border-radius: 20rem;
            }
            .actual_date{
                cursor: pointer;
                background-color: #d246a9;
                border-radius: 20rem;
                color: white;
                box-shadow: 0 2px 4px rgba(0,0,0,0.5);

            }
            .actual_date:hover{
                background-color: #650da3;
            }

        }
    }
    .left{
        background-image: linear-gradient(to bottom, #8f0868 , #650da3);
        display: flex;
        float:none;
        width:100%;
        flex-direction: column;
        padding-bottom: 5%;
        margin-bottom:5%;
        .accordion {
            color:white;
            cursor: pointer;
            width: 100%;
            text-align: center;
            border-bottom: none;
            outline: none;
            transition: 0.4s;
            border-bottom: solid;
            border-color: white;
        }

        .panel {
            display: none;
            overflow: hidden;
            .list_panel{
                width: 100%;
                background-color: white;
                color:#8f0868;
                border: #8f0868 solid;
                border-top : none;
            }
        }
    }
}

@media screen and (min-width: 500px) {
    .classroom-admin{
        background-image: linear-gradient(to bottom, #8f0868 , #650da3);
        height:calc(100vh - 40px);
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {
            width: 12.5rem;
            height: 12.5rem;
            border-radius: 100%;
        }
        h2{
            font-size: 2rem;
        }
        h3{
            font-size: 1.5rem;
            text-align:left;
        }
        .right{
            display : flex;
            background-color: white;
            height:100%;
            float:right;
            width:80%;
            .representative {
                margin-top: 5%;
                margin-bottom: 5%;
                margin-left: 2%;
                margin-right: 2%;
                .candidate {
                    padding: 1.5%;
                    flex-direction: row;
                    .information {
                        margin: 0;
                        padding: 5%;
                        p {
                            text-align: left;
                        }
                        .suppleant {
                            justify-content: left;

                            img {
                                width: 2.5rem;
                                height: 2.5rem;
                            }
                        }
                    }
                }
            }
            .table{
                margin-top: 5%;
                margin-bottom: 5%;
                margin-left: 2%;
                margin-right: 2%;
                width: 95%;
                .day_computer{
                    font-weight: bold;
                    color:#8f0868;
                    text-align: center;
                    width : calc(100%/7);
                    display: flex;
                    height:5rem;
                    font-size: 1rem;
                }
                .day_phone{
                    display: none;
                }
                .other_month, .actual_month, .day_computer, .actual_date {
                    height: 5rem;
                }
                .title{
                    font-size: 2rem;
                }
            }

        }
        .left{
            margin-bottom:0;
            display: flex;
            float:none;
            width:20%;
            overflow-x: hidden;
            overflow-y: scroll;
            padding: 1%;
            .accordion {
                font-size: 1.5rem;
                cursor: pointer;
                width: 100%;
                text-align: center;
                outline: none;
                transition: 0.4s;
            }

            .panel {
                display: none;
                font-size: 1rem;
                overflow: hidden;
            }

        }
    }
}

.fixed_button{
    position :fixed;
    width: 1rem;
    height: 1rem;
    bottom: 10%;
    right: 10%;
    .button_phone{
        border-radius: 20%;
        padding:4px;
        background: #8f0868;
        color:#ffffff;
        display:block;
    }
    .button_computer{
        display: none;
    }
}

@media screen and (min-width: 500px) {
    .fixed_button{
        height: 5rem;
        width: 5rem;
        right: 5%;
        bottom: 5%;
        .button_phone{
            display: none;
        }
        .button_computer{
            height: 100%;
            width: 100%;
            border-radius: 20%;
            padding:4px;
            background: #8f0868;
            color:#ffffff;
            display:block;
        }
    }
}
